@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Quiz 4 - Azure DevOps</h1>
    <p>Database access has already been done on April 6, 2026 by Umang Sehrawat. Azure DevOps CI Pipeline setup in progress.</p>
</div>